.button {
  height: 34px;
  border-radius: 5px;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &--primary {
    background-color: #EEAB79;
    &:active {
      background-color: #e68e4c;
    }
  }
  &--minor {
    background-color: #4D7CFE;
  }
  &--danger {
    background-color: #FF7A66;
  }
}
